*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #header{
    background-color: darkblue;
    display: flex;
    flex-direction: row;
  }
  #nav-bar{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: auto 0.25em auto 0;
  }
  .nav-link{
    border: 2px solid white;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    margin: auto;
    text-align: center;
  }
  .nav-link:hover{
    color: darkblue;
    background-color: white;
  }