*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  z-index: 999;
  border-bottom: solid 1px black;
}
.menclothes, .womenclothes, .kidclothes, .newclothes{
  width: 150%;
  height: auto;
  object-fit: cover;
  margin: 1em;
}
.menclothes:hover, .womenclothes:hover, .kidclothes:hover, .newclothes:hover{
    filter: brightness(70%);
  }
#image-1{
  width:100%;
  height: auto;
  object-fit: cover;
  margin-top: 15vh;
}
#image-2{
  width: 33.33333333%;
  height: auto;
  object-fit: cover;
}
video{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.cycle-imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    scrollbar-width: thin; 
    scrollbar-color:  lightgrey white;
    gap:7.5em;
  }
  #mens, #womens, #kids, #brand-new{
    margin-bottom: 1em;
  }
  @media(min-width: 1250px){
    .cycle-imgs{
      gap: 10em;
    }
  }
  @media(max-width: 1000px){
    .cycle-imgs{
      gap: 6em;
    }
  }
  @media(max-width: 750px){
    .cycle-imgs{
      gap: 5em;
    }
  }
  @media(max-width: 600px){
    .cycle-imgs{
      gap: 4em;
    }
  }
  @media(max-width: 500px){
    .cycle-imgs{
      gap: 3em;
    }
  }