*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #header{
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    position: fixed;
  }
  h1{
    color: white;
    margin: auto;
  }
  #nav-bar{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: auto 0.25em auto 0;
  }
  .nav-link{
    border: 2px solid white;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    margin: auto;
    text-align: center;
  }
  .nav-link:hover{
    color: darkblue;
    background-color: white;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #email{
    width: 50%;
  }
  #submit{
    width: 25%;
  }
  #video{
    width: 100%;
  }